body{

}

#logo{
	width: 600px;
	margin: 0 auto;
}

#lingowoord{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 25px;
}

#lingopage{
	width: 500px;
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px;
	background-color: grey;
	margin: 0 auto;
}

.row1, .row2, .row3, .row4, .row5{
	font-size: 100px;
	color: white;
	text-align: center;
	line-height: 100px;
	height: 100px;
	background-color: blue;
	border-style: solid;
	border-color: grey;
	border-radius: 10px;
}